body {
    background-color: #111015;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    color: #7c6cff;

    border: 2px solid #7c6cff;
    border-radius: 20px;
    box-shadow: 0 0 10px #7c6cff;
    
    margin: 1rem auto;
    padding: 0rem 2rem;
    width: fit-content;
}

h1 {
    margin: 0;
}

.tag {
    color: #b36cff;

    border: 2px solid #b36cff;
    border-radius: 20px;
    box-shadow: 0 0 10px #b36cff;
    
    margin-right: 0.5rem;
    padding: 0rem 2rem;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.main-image-viewer {
    margin: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
}

.main-image {
    background-color: #1b1922;

    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    object-fit: contain;
}

.image-info {
    min-height: 100%;
    max-height: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.image-tags {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #7c6cff;
}

/* 








 */


.gallery {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: masonry; */
    gap: 1rem;
}

.gallery-masonry {
    column-count: 4; /* Gets changed dynamically the @media later */
    column-gap: 1rem;
}

/* Made this by accidentally breaking the masonry style */
.gallery-file-cabinet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: 1rem;
}


.gallery-item {
    position: relative; /* This allows us to put stuff OVER the image! */
    display: flex;
}

.gallery-item-masonry {
    position: relative; /* This allows us to put stuff OVER the image! */
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    break-inside: avoid;
}

.gallery-item-style img, video {
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid #413c68;
    transition: transform .2s;

    background-color: #111015;

    /* Uncomment to keep all boxes the same size: */
    /* aspect-ratio: 1; */
    /* object-fit: cover; */
}

.gallery-item-style img:hover, video:hover {
    transform: scale(1.1);
}

.creator-credit-bubble {
    position: absolute; 
    bottom:-1.5rem; 
    left:-0.5rem; 
    background-color: rgb(255, 0, 0); 
    border-radius: 20px; padding: 0.1rem 1rem;
}

/* Keep Masonry gallery working and adaptive to the size of the screen */
@media screen and (max-width: 1200px) {
    .gallery-masonry {
        column-count: 3;
        column-gap: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .gallery-masonry {
        column-count: 2;
        column-gap: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .gallery-masonry {
        column-count: 1;
        column-gap: 1rem;
    }
}


/* 











 */


.btns {
    display: flex;

    /* justify-content: center; */
    height: 100%;
    align-items: self-end;

    flex-wrap: wrap;
}

.btns a {
    text-decoration: none;
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    margin-top: 0.7rem;

    margin-bottom: 1rem;

    color: white;
    background-color: #312f41;
    border: 2px solid #413d5a;
    border-radius: 20px;

    max-height: fit-content;
}

.btns a:hover {
    transform: scale(1.1) translateY(-5px);
    transition: transform 0.2s;
    border: 2px solid #42456d;
    background-color: #37324b;
}
