body {
    background-color: #111015;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER */

header {
    color: #7c6cff;

    border: 2px solid #7c6cff;
    border-radius: 20px;
    box-shadow: 0 0 10px #7c6cff;
    
    margin: 1rem auto;
    padding: 0rem 2rem;
    width: fit-content;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #7c6cff;
}

/* MAIN CONTENT */

main {
    margin-left: 20%;
    margin-right: 20%;
}

main p {
    text-align: center;
}

.main-other {
    margin-left: 25%;
    margin-right: 25%;
}

.main-other img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

/* CONTRIBUTING */

.answer-btns {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
}

.answer-btns a {
    text-decoration: none;
    padding: 0.75rem 2rem;
    margin-right: 1rem;

    color: white;
    border-radius: 20px;
}

.answer-btns a:hover {
    transform: scale(1.1) translateY(-5px);
    transition: transform 0.2s;
}

#idontknow {
    background-color: #412f2f;
    border: 2px solid #5a3d3d;
}

#idontknow:hover {
    border: 2px solid #6d4242;
    background-color: #4b3232;
}

#iknow {
    background-color: #32412f;
    border: 2px solid #415a3d;
}

#iknow:hover {
    border: 2px solid #426d45;
    background-color: #324b32;
}

.inputting-data {
    display: none;
}

.inputting-data input {
    display: block;
    margin: 0 auto;
}

/* TOP BTNS */

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btns a {
    text-decoration: none;
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    margin-top: 0.7rem;

    color: white;
    background-color: #312f41;
    border: 2px solid #413d5a;
    border-radius: 20px;

    max-height: fit-content;
}

.btns a:hover {
    transform: scale(1.1) translateY(-5px);
    transition: transform 0.2s;
    border: 2px solid #42456d;
    background-color: #37324b;
}

/* THE HOLY DOWNLOAD ALL BTN */
.download-all-btn {
    display: flex;
    justify-content: center;

}

.download-all-btn a {
    text-decoration: none;
    font-size: 5rem;
    padding: 0.75rem 2rem;
    margin-right: 1rem;

    color: white;
    background-color: #412f2f;
    border: 2px solid #5a3d3d;
    border-radius: 20px;
}

.download-all-btn a:hover {
    transform: scale(1.1) translateY(-5px);
    transition: transform 0.2s;
    border: 2px solid #6d4242;
    background-color: #4b3232;
}

/* IMAGE GALLERIES */

h2 {
    color: #b59cff;

    /* Add that cool little line to the side of the headings: "| Images" */
    border-left: 4px solid #7c6cff;
    padding-left: 10px;
}

section {
    margin-bottom: 3rem;
}

.gallery {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: masonry; */
    gap: 1rem;
}

.gallery-masonry {
    column-count: 4; /* Gets changed dynamically the @media later */
    column-gap: 1rem;
}

/* Made this by accidentally breaking the masonry style */
.gallery-file-cabinet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: 1rem;
}


.gallery-item {
    position: relative; /* This allows us to put stuff OVER the image! */
    display: flex;
}

.gallery-item-masonry {
    position: relative; /* This allows us to put stuff OVER the image! */
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    break-inside: avoid;
}

.gallery-item-style img, video {
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid #413c68;
    transition: transform .2s;

    background-color: #111015;

    /* Uncomment to keep all boxes the same size: */
    /* aspect-ratio: 1; */
    /* object-fit: cover; */
}

.gallery-item-style img:hover, video:hover {
    transform: scale(1.1);
}

.creator-credit-bubble {
    position: absolute; 
    bottom:-1.5rem; 
    left:-0.5rem; 
    background-color: rgb(255, 0, 0); 
    border-radius: 20px; padding: 0.1rem 1rem;
}

/* Keep Masonry gallery working and adaptive to the size of the screen */
@media screen and (max-width: 1200px) {
    .gallery-masonry {
        column-count: 3;
        column-gap: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .gallery-masonry {
        column-count: 2;
        column-gap: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .gallery-masonry {
        column-count: 1;
        column-gap: 1rem;
    }
}


/* .fav-btn {
    margin-right: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;

    font-size: larger;

    color: red;
}

.contr-btn {
    position: absolute;
    margin-right: 1rem;
    position: absolute;

    bottom: 0.5rem;
    right: 0.5rem;
} */


/* INFO POPUP */

.info {
    /* Used to keep the info popup aligned in the center */
    display: flex;
    justify-content: center;
}

.info-popup .show {
    opacity: 1;
    transform: scale(1);
}

.info-popup {
    display: block;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 20px;
    max-width: fit-content;
    background-color: #342f45e9;
    position: fixed;

    z-index: 15;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: #24212e;

}

footer p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.footer-links {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
}