body {
    background-color: #111015;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER */

header {
    color: #7c6cff;

    border: 2px solid #7c6cff;
    border-radius: 20px;
    box-shadow: 0 0 10px #7c6cff;
    
    margin: 1rem auto;
    padding: 0rem 2rem;
    width: fit-content;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #7c6cff;
}

/* MAIN CONTENT */

main {
    margin-left: 20%;
    margin-right: 20%;
}

.main-error {
    margin-left: 25%;
    margin-right: 25%;
}

.main-error p {
    text-align: center;
}

/* TOP BTNS */

.btns {
    display: flex;
    justify-content: center;
}

.btns a {
    text-decoration: none;
    padding: 0.75rem 2rem;
    margin-right: 1rem;

    color: white;
    background-color: #312f41;
    border: 2px solid #413d5a;
    border-radius: 20px;
}

.btns a:hover {
    transform: scale(1.1) translateY(-5px);
    transition: transform 0.2s;
    border: 2px solid #42456d;
    background-color: #37324b;

}

/* IMAGE GALLERIES */

h2 {
    color: #b59cff;

    /* Add that cool little line to the side of the headings: "| Images" */
    border-left: 4px solid #7c6cff;
    padding-left: 10px;
}

section {
    margin-bottom: 3rem;
}

.gallery {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

.gallery img, video {
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(65, 60, 104);
    transition: transform .2s;

    background-color: #111015;

    /* Uncomment to keep all boxes the same size: */
    /* aspect-ratio: 1; */
    /* object-fit: cover; */
}

.gallery img:hover, video:hover {
    transform: scale(1.1);
}

/* INFO POPUP */

.info {
    /* Used to keep the info popup aligned in the center */
    display: flex;
    justify-content: center;
}

.info-popup .show {
    opacity: 1;
    transform: scale(1);
}

.info-popup {
    display: block;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    bottom: 1rem;
    padding: 1rem 1rem;
    border-radius: 20px;
    max-width: fit-content;
    background-color: #342f45e9;
    position: fixed;

    z-index: 15;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: #24212e;

}

footer p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}

.footer-links {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
}