# I'm new to Github Actions so there will be a lottt of comments as I try and understand what actually is happening - yes I did use ChatGPT and go through the slowww process of asking it abt everything (" o.0)

name: Deploy to Github pages!

on: 
    push:
        branches: [ main ] # On any pushes to the main branch
    workflow_dispatch: # Allows me to manually run this through the Github Actions tab

permissions:
    contents: read # Allow us to access repo files
    pages: write # Allow us to deploy the fancy smancy build artificate to Github Pages
    id-token: write # Needed so that we can authenticate with Github Pages!

concurrency:
    group: "pages"
    cancel-in-progress: true # Cancel any currently running deployments!

jobs:
    build:
        runs-on: ubuntu-latest # The virtual enviroment we will use!
        steps:
            # Checkout/Get all the files from the repo
            - name: Checkout repo
              uses: actions/checkout@v4

            # Setup Node.js and npm - Ik who could of guessed :O
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: 20 # Set node version 20
                cache: npm

            # Install all the modules, etc
            - name: Install dependencies
              run: npm ci

            # Build website!
            - name: Build site
              run: npm run build

            # Upload all the files in root directory ('.') to github pages as a build artifact
            - name: Upload build artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                path: '.'
                # Remove node_modules and .github as they don't need to be hosted on github pages!
                exclude: |
                    node_modules/**
                    .github/** 

    deploy:
        needs: build # Requires build job to be run & completed before this runs
        runs-on: ubuntu-latest # Run this vm again!
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }} # Set the URL for github pages to use
        steps:
            # Deploy files to Github Pages
            - name: Deploy to Github Pages
              id: deployment
              uses: actions/deploy-pages@v4